.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9bacba;
  height: 100vh;
}

.form {
  width: 80%;
}

.label {
  font-family: "Oswald";
  text-align: center;
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  color: #f1f1f1;
}
