@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&display=swap");

.outerContainer {
  background: #9bacba;
  padding-bottom: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9bacba;
  height: 100%;
  padding: 5%;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading {
  font-family: "Oswald";
  text-align: left;
  font-size: clamp(2rem, 3vw, 3rem);
  color: #f1f1f1;
}

.contact {
  display: flex;
}

.accent {
  font-family: "Oswald";
  color: #eae691;
  font-weight: 500;
}

.body {
  font-family: "Old Standard TT";

  text-align: left;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #f1f1f1;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-family: "Oswald";
  text-align: center;
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  color: #f1f1f1;
}

.btn {
  display: flex;
  justify-content: center;
}
