.outerContainer {
  background: #9ba3bc;
  padding-bottom: 10%;
  height: 100vh;
}

.galleryContainer {
  background: #9ba3bc;
  /* margin-top: -5%; */
  height: 100%;
}

.carouselContainer {
  padding-top: 15px;
  max-height: 40%;
}

.caption {
  color: rgb(223, 217, 217);
  text-shadow: -1px 1px 1px #000;
}

.image {
  /* max-width: 70vh; */
}
@media (max-width: 300px) {
  .image {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
