.outerContainer {
  background: #9ba3bc;
  padding-bottom: 10%;
}

.galleryContainer {
  background: #9ba3bc;
  /* margin-top: -5%; */
  height: 90vh;
}

.carouselContainer {
  padding-top: 15px;
  height: 90vh;
}

.caption {
  color: rgb(223, 217, 217);
  text-shadow: -1px 1px 1px #000;
}

.image {
  /* max-height: 70vh; */
}
