.bgContainer {
  display: flex;
  height: 92vh;
  position: relative;
  justify-content: center;
  align-items: flex-end;
}

.bgImage {
  position: absolute;
  z-index: -10;
}

/* .banner {
  font-size: clamp(3rem, 4vw, 6rem);
  margin-bottom: 8%;
  text-shadow: -1px 1px 0 #000;
} */

.nameTagContainer {
  background: #9bacba;
}

.landingCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.aboutCard {
  background: #3d4d6d;
}

.landingCardImage {
  width: 100vw;
  height: auto;
  overflow: hidden;
}
