@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&display=swap");

.bgContainer {
  display: flex;
  height: 90vh;
  position: relative;
  justify-content: center;
  align-items: flex-end;
}

.bgImage {
  position: absolute;

  z-index: -10;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.bannerLg {
  font-family: "Oswald";
  color: #f1f1f1;
  text-align: center;
  font-size: clamp(3.5rem, 8vw, 8rem);
  margin-bottom: 0;
  text-shadow: -1px 1px 0 #000;
  align-self: center;
}

.bannerSm {
  font-family: "Old Standard TT";
  color: #f1f1f1;
  text-align: center;
  font-size: clamp(1rem, 2vw, 3rem);
  margin-bottom: 15%;
  text-shadow: -1px 1px 0 #000;
  align-self: flex-end;
}

/* Name Tag */

.nameTagContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #9bacba;
  padding-top: 10%;
  padding-bottom: 10%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin: 1%;
}

.milesLogo {
  border-radius: 15px;
}

/* Landing Card */

.landingCardContainer {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7%;
}

.containerColumn {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: 5%;
}

.aboutCard {
  background: #3d4d6d;
}

.landingCardImage {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.body {
  /* padding-bottom: 4rem; */
}

.btn {
  margin-top: 4rem;
}

/* Socials */
.socialsOuterContainer {
  background: #3d4d6d;
}

.socialsContainer {
  padding: 5%;
}

/* max-width: 800px; */
@media (min-width: 800px) {
  .landingCardContainer {
    flex-direction: row;
    justify-content: center;
    padding-top: 8%;
    width: 75vw;
  }

  .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .containerColumn {
    width: 50%;
  }

  #two {
    flex-direction: row-reverse;
  }

  .landingCardImage {
    width: 50%;
    align-self: center;
    border-radius: 15px;
  }
}

@media (min-width: 950px) {
  /* .bannerContainer {
    flex-direction: row;
  } */
  .bannerLg {
    /* margin-bottom: 15%; */
  }

  .bannerContainer {
    height: 80vh;
    justify-content: center;
    /* padding-bottom: 300px; */
  }
}

@media (min-width: 465px) {
  .bannerSm {
    align-self: flex-end;
  }
}
