@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&display=swap");

.pageContainer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #3d4d6d;
}

.containerRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  position: relative;
  width: 100%;
  height: 40%;
  max-width: 800px;
  align-self: center;
  overflow: hidden;
}

.heading {
  position: absolute;
  max-width: 800px;
  z-index: 10;
  font-family: "oswald";
  color: #f1f1f1;
  text-align: left;
  font-size: clamp(1rem, 6vw, 3rem);
  margin-left: -45%;
  margin-top: 3%;
  text-shadow: -1px 1px 0 #000;
  justify-self: flex-start;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 275px;
  background: #e7ebf0;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

.title,
.info,
.price {
  color: #3d4d6d;
}

.title {
  font-family: "oswald";
  text-align: center;
  font-size: clamp(2rem, 2vw, 2.5rem);
}

.info {
  font-family: '"Old Standard TT"';

  font-size: clamp(1.2rem, 1.5vw, 1.3rem);
}

.btn {
  width: 40%;
}

/* What to bring */

#whatToBringColor {
  background-color: #9ba3bc;
}

.whatToBring {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.whatToBringImage {
  position: relative;
  width: 100%;
  height: 70vh;
  max-width: 800px;
  align-self: center;
  overflow: hidden;
}

.whatToBringHeading {
  position: absolute;
  max-width: 800px;
  z-index: 10;
  font-family: "oswald";
  color: #f1f1f1;
  text-align: left;
  margin-top: 3%;
  text-shadow: -1px 1px 0 #000;
  font-size: clamp(2rem, 6vw, 3rem);
}

@media (min-width: 800px) {
  /* .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  } */

  .heading {
    margin-top: 6%;
    margin-left: 50px;
    width: 100%;
    height: 40%;

    /* margin-bottom: 0vh; */
  }

  .card {
    width: 30%;
    height: 300px;
  }

  .image {
    margin-top: 5%;
    border-radius: 30px;
  }

  .whatToBring {
    flex-direction: row;
    max-width: 75vw;
  }

  .whatToBringImage {
    max-width: 500px;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .whatToBringHeading {
    position: relative;
    width: 55vw;
  }
}
