@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&display=swap");

.outerContainer {
  background: #9bacba;
}

.container {
  background: #9bacba;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 70%;
}

.subContainer {
  margin: 3.5rem;
}

.heading {
  margin: 2rem;
}

.image {
  display: flex;
  justify-content: center;
}

.seperator {
  font-family: "Oswald";
  text-align: left;
  font-size: clamp(3rem, 5vw, 5rem);
  color: #f1f1f1;
  margin: 4rem;
}

.btn {
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* InfoNav */

.infoNav {
  display: flex;
  justify-content: space-around;
}

.btn {
  display: flex;
  justify-content: flex-end;
  background: #9bacba;
  /* position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  align-self: flex-start; */
}

@media (min-width: 992px) {
  .container {
    flex-direction: row-reverse;
  }

  .info {
    max-width: 70%;
  }

  .infoNav {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    top: 0;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
}
