@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oswald&display=swap");
.outerContainer {
  background: #9bacba;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navContainer {
  /* padding-right: 10%; */
  /* display: flex;
  justify-content: space-between; */
}

.infoNav {
  display: flex;
  justify-content: space-between;

  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.subContainer {
  display: flex;

  /* margin-left: auto; */
  width: 32%;
}

.navItems {
  display: flex;
  flex-direction: column;

  /* width: 50%; */
  /* margin-left: 5%; */
}

.banner {
  font-family: "Oswald";
  text-align: left;
  font-size: 4rem;
  text-align: center;
  /* font-size: clamp(2rem, 3vw, 3rem); */
  color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  font-family: "Oswald";
  text-align: left;
  font-size: 3.5rem;
  border-bottom: #f1f1f1 2px solid;

  /* font-size: clamp(2rem, 3vw, 3rem); */
  color: #f1f1f1;
  margin-top: 50px;
  margin-bottom: 50px;
}

.infoContainer {
  background: #9bacba;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100%; */
}

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 70px;
}

.heading {
  margin: 2rem;

  font-family: "Oswald";
  text-align: left;
  font-size: 1.5rem;
  text-align: center;
  /* font-size: clamp(2rem, 3vw, 3rem); */
  color: #f1f1f1;
}

.bodyContainer {
  min-width: 30%;
  max-width: 80%;
}

.body {
  font-family: "Old Standard TT";
  max-width: 600px;
  /* margin: 5%; */

  font-size: 1.1rem;
  /* font-size: clamp(1rem, 2vw, 1.5rem); */
  color: #f1f1f1;
}

.image {
  position: relative;
  border-radius: 7px;
  width: 100vw;
  height: auto;
  overflow: hidden;

  /* height: 300px;
  width: 450px;
  padding: 5%;
  margin-right: 15px; */
}

@media (min-width: 600px) {
  .image {
    width: 600px;
    margin-right: 50px;
  }

  .infoCard {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .innerContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .navContainer {
    /* height: 100%; */
    padding-left: 10%;
  }

  .title {
    width: 60%;
  }

  .infoCard {
    flex-direction: row;
  }

  .infoNav {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    top: 0;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .spacer {
    width: 20%;
  }
}
